<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cirrb app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BE35FD81E7F9665001CFCCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BE35FEC1E7F9666001CFCCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BE35FF71E7F9666001CFCCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
